<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='static/style.css'/>
    <title>
      Community Paint Canvas
    </title>
  </head>
  <body>
    <div id="app">
        
      <h2>{{ message }}</h2> 
      <div class="canvas">
      <canvas @mousedown="startPainting" @mouseup="finishedPainting" @mousemove="draw" id="canvas"></canvas>
      </div>
      <p id="status"><b>{{ status }}</b></p>
      <p>{{ totalPixels }}</p>
      <button id="clear" @click="reset">Clear/Reset</button>
      <div id="submission_div" style="display:block;">
      <form id="submission">
        <label for="dono_name">Name used in Tiltify donation:</label>
        <br/>
        <input id="dono_name" name="dono_name" v-model="dono_name" placeholder="Anonymous">
        <br/>
        <label for="text_response">Describe what you drew for people who can't see the canvas. Then copy the text into your Tiltify donation comment:</label>
        <br/>
        <textarea id="text_response" name="text_response" v-model="textresponse" placeholder="A dog"></textarea>
        <br/>
        </form>
        <button id='submit_button' name='new_pixels' @click="submit">Submit your drawing!</button>
      </div>
      <div id="submit_link" style="display: hidden;">
        <p>Now donate to have your drawing show up on the public canvas!</p>
        <p><b>Copy this name into your donation name:</b> {{ dono_name }}</p>
        <p><b>Copy this into your donation comment:</b> {{ textresponse }}</p>
        <p>Donation amount: minimum £1</p>
        <p><a href="https://tiltify.com/@lumenwright/midwinter-magic-2022/donate">Donate here! <b style="color:red;">THIS IS A DIFFERENT PAGE THAN THE MAIN CHASING DREAMS CAMPAIGN</b></a></p>
      </div>

     </div>
     <div id="login"><a id='login_link' name="login_link" v-bind:href="Url">Login</a></div>
  </body>
  <script src='vue.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src='script2.js'></script>
</html>
