<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='style.css'/>
    <title>
      Moderation View
    </title>
  </head>
  <body>
    <div id="auth">
        <p>{{ status }}</p>
    </div>
    <div id="drawing">
        <canvas id="canvas" v-bind:style="display_full"></canvas></br>
        <p id="entry_status">{{ status }}</p>
        <div v-bind:style="display">
            <p id="dono_name">Name: {{ dono_name }}</p>
            <p id="entry_name">Entry: {{ curr_px_name }}</p>
            <p id="entry_comment">Comment: {{ comment }}</p>
            <button class="major_button" id="approve" @click="onApprove">Approve</button>
            <button class="major_button" id="reject" @click="onReject">Reject</button>
            <button class="major_button" id="push" @click="onPush">Approve and skip donation</button>
        </div>
        <div v-bind:style="display_select">
            <label for="entry">Select an entry to view:</label>
            <select v-model="curr_px_name" name="entry" id="entry" class="form-control">

                <option v-for="e in entries" :key="e" :value="e">{{ e }}</option>
             
             </select>
             <button id="select_entry" @click="onSelect">View entry</button>
        </div>
    </div>
  </body>
  <script src='vue.js'></script>
  <script src='login.js'></script>
  <script src='data.json'></script>
</html>
