.canvas {
grid-template-rows: repeat(399,1fr);
grid-template-columns: repeat(399,1fr);
min-width:400px;
min-height:400px;display: grid;
position:relative;
background-color:chartreuse;
border: 10px solid grey;
}